@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Raleway";
  background-color: #444444;
  background-image: url("https://monophy.com/media/joYZQLXK0DITrRAR7K/monophy.gif");
  background-image: url("https://i.pinimg.com/originals/6e/01/db/6e01db7cf74db21210c345f1e53aface.gif");
  /* background-image: url("https://i.pinimg.com/originals/6e/01/db/6e01db7cf74db21210c345f1e53aface.gif"); */
  /* background-image: url("hthttps://monophy.com/media/joYZQLXK0DITrRAR7K/monophy.giftps://img.freepik.com/fotos-gratis/fundo-ruidoso_1194-7547.jpg"); */
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #8dd18b;
  border-radius: 5px;
  border: 2px solid #262626;
}

body::-webkit-scrollbar-track {
  background-color: #d3d3d3;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
